<% include partials/header %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to Shopacart!</h1>
            <p>View our hand-picked products from all over the world</p>
            <p>
                <a class="btn btn-primary btn-large" href="/items/new">Add New Product</a>
            </p>
        </div>
    </header>


    <div class="container">
    <div class="row">
        <% items.forEach((item) => { %>
            <div class="col-md-3 col-sm-6"> 
                <img src="<%= item.image %>" class="img-thumbnail">
                <div class="caption">
                    <h4><%= item.name %></h4>
					<h5><%= item.categroy %></h5>
					<h5>$<%= item.price %></h5>
					<p><%= item.description %></p>
                </div>
            </div>
            
        <% }); %>
    </div>
    </div>
</div>

<% include partials/footer %>